parameters:
- name: 'versions'
  type: object
  default: {}
- name: 'testOptions'
  type: string
  default: ''

stages:
- ${{ each version in parameters.versions }}:
  - stage: E2E_Tests_${{ replace(version, '.', '_') }}
    displayName: E2E tests for Spark ${{ version }}
    dependsOn: Build
    jobs:
    - job: Run
      pool:
        vmImage: 'windows-2019'
  
      variables:
        ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          _OfficialBuildIdArgs: /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
        HADOOP_HOME: $(Build.BinariesDirectory)\hadoop
        DOTNET_WORKER_DIR: $(CurrentDotnetWorkerDir)

      steps:
      - task: UseDotNet@2
        displayName: 'Use .NET Core sdk'
        inputs:
          packageType: sdk
          version: 3.1.x
          installationPath: $(Agent.ToolsDirectory)/dotnet

      - task: DownloadBuildArtifacts@0
        displayName: Download Build Artifacts
        inputs:
          artifactName: Microsoft.Spark.Binaries
          downloadPath: $(Build.ArtifactStagingDirectory)

      - task: CopyFiles@2
        displayName: Copy jars
        inputs:
          sourceFolder: $(ArtifactPath)/Jars
          contents: '**/*.jar'
          targetFolder: $(Build.SourcesDirectory)/src/scala

      - task: BatchScript@1
        displayName: Download Winutils.exe
        inputs:
          filename: script\download-hadoop-utils.cmd
          arguments: $(Build.BinariesDirectory)

      - task: BatchScript@1
        displayName: 'Download Spark Distro ${{ version }}'
        inputs:
          filename: script\download-spark-distros.cmd
          arguments: $(Build.BinariesDirectory) ${{ version }}

      - task: DotNetCoreCLI@2
        displayName: 'E2E tests'
        inputs:
          command: test
          projects: '**/Microsoft.Spark*.E2ETest/*.csproj'
          arguments: '--configuration $(buildConfiguration) ${{ parameters.testOptions }}'
        env:
          SPARK_HOME: $(Build.BinariesDirectory)\spark-${{ version }}-bin-hadoop2.7
